@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example in a main CSS file or Tailwind config */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.font-gochi {
  font-family: 'Gochi Hand', cursive;
}
.font-mclaren {
  font-family: 'McLaren', sans-serif;
}
.font-seaweed {
  font-family: 'Seaweed Script', cursive;
}